### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from array import *

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#school_data_complete.describe()
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [7]:
Total_Schools = len(school_data_complete['school_name'].unique())
Total_Students = len(school_data_complete['Student ID'])
Total_Budget = sum(school_data_complete['budget'].unique())
Average_Math_Score = school_data_complete['math_score'].mean()
Average_Reading_Score = school_data_complete['reading_score'].mean()
Passing_Math_df=school_data_complete.loc[school_data_complete['math_score'] >= 70]
Passing_Math = (len(Passing_Math_df)/Total_Students)*100
Passing_Reading_df = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
Passing_Reading = (len(Passing_Reading_df)/Total_Students)*100
Passing_df = school_data_complete.loc[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
Passing = (len(Passing_df)/Total_Students)*100
df = pd.DataFrame({"Total Schools":Total_Schools,
                 "Total Students":Total_Students,
                 "Total Budget":Total_Budget,
                 "Average Math Score":Average_Math_Score,
                 "Average Reading Score":Average_Math_Score,
                 "% Passing Math":Passing_Math,
                 "% Passing Reading":Passing_Reading,
                 "% Overall Passing":Passing},index=[0])
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,78.985371,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [8]:
#Brendan's code. Not sure what to do with it. Ignoring for now.
grouped_school = school_data_complete.groupby(['school_name'])
type(grouped_school)
avg_read_school = grouped_school['reading_score'].mean()
avg_math_school = grouped_school['math_score'].mean()
school_size = grouped_school['size'].count()
school_budget = grouped_school['budget'].mean()
per_student = school_budget/school_size
school_type = grouped_school['type'].unique()
#print(avg_read_school)
#print(avg_math_school)
#print(school_size)
#print(school_budget)
#print(per_student)
#print(school_type)

In [9]:
schools_array = (school_data_complete.school_name.unique())
schools_list = schools_array.tolist()
schools_list.sort()
schools_list

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [10]:
school_data_complete.drop(['Student ID','student_name','gender','grade'],axis=1) #why didn't this work?
grouped_school_data = school_data_complete.groupby('school_name')
grouped_school_data.first()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Holden High School,22847,Daniel Rodriguez,M,11th,86,92,8,Charter,427,248087
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400

In [26]:
# Use columns from df_school and rename columns
school_data_temp = school_data_complete[['school_name', 'type','budget']]
school_data_renamed = school_data_temp.rename(columns={'school_name':'School Name', 'type':'School Type','budget':'Total School Budget'})

# Calculate Per Student Budget and create data frame
student_budget_calc = school_data_complete['budget']/school_data_complete['size']
student_budget_df = pd.DataFrame({'Per Student Budget': student_budget_calc})

# merge data sets and change index to School Name
school_data_updated = pd.merge(school_data_renamed, student_budget_df, left_index=True, right_index=True)
school_data_index = school_data_updated.set_index('School Name')

# Count total students per school and add to school data
school_counts = df_student['school'].value_counts()

# Calculate average Math Score per school and add to school data
grouped_by_school = df_student.groupby('school')
avg_math_by_school = grouped_by_school['math_score'].mean()

# Calculate average Reading Score per schoola and add to school data
avg_read_by_school = grouped_by_school['reading_score'].mean()

# Calculate % passing math
count_mathscores_byschool = grouped_by_school['math_score'].count()
df_passing_math_only = passing_math_df[['school','math_score']]
group_passing_math_byschool = df_passing_math_only.groupby('school')
count_passing_math_byschool = group_passing_math_byschool['math_score'].count()
percent_passing_math_byschool = count_passing_math_byschool / count_mathscores_byschool * 100

# Calculate % passing reading
count_readscores_byschool = grouped_by_school['reading_score'].count()
df_passing_read_only = passing_reading_df[['school','reading_score']]
group_passing_read_byschool = df_passing_read_only.groupby('school')
count_passing_read_byschool = group_passing_read_byschool['reading_score'].count()
percent_passing_read_byschool = count_passing_read_byschool / count_readscores_byschool * 100

# Overall Passing Rate (Average of the above two)
overall_passing_rate_byschool = (percent_passing_math_byschool + percent_passing_read_byschool)/2

# create dataframe summarizing calculations and merge with school data
school_summary = pd.DataFrame({'Total Students': school_counts,
                               'Average Math Score': avg_math_by_school,
                               'Average Reading Score': avg_read_by_school,
                               '% Passing Math': percent_passing_math_byschool,
                               '% Passing Reading': percent_passing_read_byschool,
                               '% Overall Passing Rate': overall_passing_rate_byschool})
school_summary_merged = pd.merge(school_data_index, school_summary, left_index=True, right_index=True)

# format and sortcolumns
school_summary_sorted_column = school_summary_merged[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget',
                                               'Average Math Score','Average Reading Score','% Passing Math', 
                                               '% Passing Reading','% Overall Passing Rate']]

school_summary_sorted_column['Total Students'] = school_summary_sorted_column.apply(lambda x: "{:,}".format(x['Total Students']), axis=1)
school_summary_sorted_column['Total School Budget'] = school_summary_sorted_column['Total School Budget'].map('${:,.2f}'.format)
school_summary_sorted_column['Per Student Budget'] = school_summary_sorted_column['Per Student Budget'].map('${:,.2f}'.format)

school_summary_sorted_column

NameError: name 'df_student' is not defined

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type