In [17]:
# Our includes:
import pandas as pd

In [18]:
# Set our filenames:
CSVSourceFile = 'election_data.csv'
OutputFile = 'results-pandas.txt'

In [19]:
# Read in the recorded votes
votes_df = pd.read_csv(CSVSourceFile,delimiter=',',header=0)
votes_df.head(5)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [61]:
list(votes_df.columns)

['Voter ID', 'County', 'Candidate']

In [67]:
# We don't care about Voter ID or County, so let's get rid of them.
#Cleaned_votes_df = votes_df["Candidate"]
#Cleaned_votes_df.head(10)
#list(Cleaned_votes_df.columns)

Cleaned_votes_df = votes_df.drop(['Voter ID','County'], axis=1)
Cleaned_votes_df.head(5)
list(Cleaned_votes_df.columns)
Cleaned_votes_df.head(5)

  Candidate
0      Khan
1    Correy
2      Khan
3      Khan
4      Khan

In [48]:
# Get the total number of votes from count.
TotalVotes = Cleaned_votes_df.count()
print(TotalVotes)

3521001

In [50]:
# Get the unique candidate names into a list
Candidates_list = Cleaned_votes_df.unique().tolist()
print(Candidates_list)

['Khan', 'Correy', 'Li', "O'Tooley"]

In [78]:
# Count candidate votes

for Name in Candidates_list:
    No_of_Votes = Cleaned_votes_df[Cleaned_votes_df['Candidate'] == i].count()
    print(str(No_of_Votes))
    Percent_of_Votes = No_of_Votes / TotalVotes
    print(Name + ': ' + '{:.3f}'.format(Percent_of_Votes) + '% (' + str(No_of_Votes) + ')')

Candidate    2218231
dtype: int64

TypeError: unsupported format string passed to Series.__format__